<mat-toolbar color="primary">
  <div class="no-decoration">
    <a class="no-decoration" routerLink="/list">{{ title }}</a>
  </div>
  <a class="no-decoration mat-caption" routerLink="/new-sfn">Create Step Function</a>
  <a class="no-decoration mat-caption" routerLink="/setup">Set Step Function Endpoint</a>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Toggle Theme" (click)="toggleTheme()" [matTooltip]="lightModeToolTip">
    <mat-icon>{{ lightMode ? "light_mode" : "dark_mode" }}</mat-icon>
  </button>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
