<app-alert [alert]="alertInfo"></app-alert>
<div [formGroup]="form">
  <h1>Edit Step Function</h1>
  <div class="container">
    <h2>{{ sfnName }}</h2>
    <span class="spacer"></span>
    <div>
      <button mat-flat-button color="primary" (click)="updateSfn()">Update</button>
    </div>
  </div>
  <div class="container">
    <div class="editor">
      <mat-form-field>
        <mat-label>Step Function Body</mat-label>
        <textarea class="sfn-body" matInput formControlName="sfnBody"></textarea>
      </mat-form-field>
    </div>
    <div class="visualizer">visualizer</div>
  </div>
</div>
